html {
  height: 100%;
  font-size: 62.5%; // 1rem = 10px
}

body {
  min-height: 100%;
  margin: 0;
  border: 1px;
  font: 1.6rem sans-serif;
  background: #202020;
  color: white;
}
a {
  color: #51deff;
}
