html {
  height: 100%;
  font-size: 62.5%; // 1rem = 10px
}

body {
  display: flow-root;

  min-height: 100%;
  margin: 0;

  font:
    1.6rem system-ui,
    "Segoe UI",
    Roboto,
    "Helvetica Neue",
    Arial,
    sans-serif;
  color: #fff;

  background: #201a31;
}
