html {
  height: 100%;
  font-size: 62.5%; // 1rem = 10px
}

body {
  min-height: 100%;
  margin: 0;

  font: 1.6rem sans-serif;
  color: white;

  background: #202020;
  border: 1px;
}

a {
  color: #51deff;
}
